google-adk
google-adk[a2a]
google-genai
google-cloud-storage
google-cloud-texttospeech
google-cloud-vision
numpy
cadquery
build123d
python-dotenv
CoolProp 
DynPy 
SfePy 
FEniCS 
Project 
Fluids
FreeCAD 
OpenMDAO 
OpenAeroStruct 
SymPy 
Matplotlib 
Plotly
scipy 
pandas
vertexai
